[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
pytz = "*"
jsonkv = "*"
mistune = "*"
maxpress = ">=0.2.1"

[requires]
python_version = "3.6"
